body{
    background: blueviolet ;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border: 1px solid white;
    margin-top: 2px;
}

.input-group > label{
    width: 100px;
}

.input-group > span{
    width: 100px;
}

.input-group > input{
    border-style: none;
    background: none;
    background-color: white;
    text-align: center;
    color: black;
}

h1{
    text-align: center;
    font-size: 40px;
}

.final{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 40px;
}

.final button{
  font-weight: bold;
  border-style: none;
  height: 50px;
  width: 400px;
  border-radius: 10px;
  cursor: pointer;
}
.final button:hover{
  font-weight: bold;
  border-style: none;
  height: 50px;
  width: 400px;
  border-radius: 10px;
  cursor: pointer;
}